body {
    background-color: #000000;
}

.container {
    background-color: transparent;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

.demo {
    color: #ea9400;
}

.demo h1, .demo h2 {
    color: #ea9400;    
}

.demo a {
    color: #885a0b;
    text-decoration: none;
}

.demo li {
    list-style: none;
}

.demo hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ea9400;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

.parallax-window {
    min-height: 400px;
    background: transparent;
}

section {
    margin-bottom: 50px;
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .nav-mobile {
    display: none;
}

.navbar-default .nav-mobile .logo {
    width: 100%;
    height: auto;
    padding: 0; 
}

.navbar-default .nav-mobile .mob {
    width: 33%;
    float: left;
    padding: 15px;
    font-size: 20px;
    line-height: 20px;
    display: block;
    text-decoration: none;
    color: #fff; 
    text-align: left;
}

.navbar-default .nav-mobile .mob:last-child {
    text-align: right;
}

.navbar-default .nav-mobile .mob i {
    margin: 8px 15px 0px 15px;
}

header .first {
    background-color: #000000;
    font-weight: 500;
    font-size: 12px;
    color: #9b9b9b;
    font-family: 'Libre Franklin', sans-serif;
    /*font-family: 'Crimson Text', serif;*/
}

header .first .navbar-default {    
    background-color: transparent;
    border-radius: 0;
    height: 60px;
    margin: 0;
}

header .first .navbar-default li a {
    padding: 20px 15px;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

header .second {
    background-color: #181818;
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
}

header .second .container, footer .container-footer {
    border-bottom: 1px solid #eea319; 
}

.logo {
    margin: 0 auto;
    display: block;
    width: 250px;
    padding: 45px 0;
}

.avatar {
    width: 90px;
    height: 90px;
    float: left;
}

.c-avatar {
    width: 100%;
    height: auto;
}

.c-avatar-p {
    font-family: 'Libre Franklin', sans-serif!important;
    font-size: 12px!important;
    text-align: center!important;
    display: block;
    color: #fff!important;
    margin-top: 20px;
    text-decoration: none!important;
    cursor: pointer;
}

header .second .navbar-default {
    background-color: transparent;
    border-radius: 0;
    margin: 0;
    text-align: center;
}

header .second .nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .second .dropdown-menu .drop-img {
    height: 410px;
    width: 100%;
}

header .second .dropdown-menu .row > div {
    margin: 0;
    padding: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}

header .second ul.set-1 {
    height: 410px;
    background-color: #eea319;
    list-style: none;
    padding-top: 50px;
}

header .second ul.set-1 a {
    color: #181818;
    font-size: 14px;
    text-decoration: none;
    line-height: 35px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
}

header .second a.ga {
    font-size: 14px;
    font-weight: 500;
}

header .second ul.set-1 a.active {
    font-weight: 800;
}

header .second ul.set-1 .active:before{
    content: '';    
    display: block;
    float: right;
    margin-top: 8px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #181818; 
}

header .second ul.set-2 {
    height: 410px;
    background-color: #181818;
    list-style: none;
    padding: 50px 30px;
    font-weight: 500;
}

header .second ul.set-2 a {
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    line-height: 12px;
    font-family: 'Libre Franklin', sans-serif;
    padding-bottom: 20px;
    padding-top: 5px;
    display: block;
}

header .second ul.set-2 a.active {
    color: #eea319;
}

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}
.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    left: auto;
    z-index: 5000;
}
.yamm .yamm-content {
    padding: 0px 15px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
    padding: 0;
}

@media (min-width: 768px) {
    header .second .navbar-nav {
        float: none;
    }
}

.yamm .box {
    width: 100%;
    height: 200px;
    margin-top: -200px;
    padding: 0px 50px;
    background: transparent;
    display: block;
    z-index: 1000;
    position: relative;
    text-align: center;
}

.yamm .box h2 a {
    width: 100%;
}

.yamm .box .content {
    width: 100%;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */


section .third {}
section .third .owl-carousel {}

section .third .owl-carousel .owl-item, section .third .owl-carousel .owl-item > div {
    height: 600px;
}

section .third .owl-carousel .owl-item img { 
    height: 100%;
}

.box {
    width: 100%;
    height: 300px;
    margin-top: -300px;
    padding: 0px 50px;
    background: linear-gradient(transparent, #000000, #000000, #000000);
    display: block;
    z-index: 1000;
    position: relative;
}
.box hr {
    width: 30px;
    float: left;
    z-index: 1000;
    position: relative;
    margin: 15px 7px 15px 0;
    border-top: 3px solid #ffffff;
}

.box .cat-name {
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
    color: #eea319;
}
.box .post-date {
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Crimson Text', serif;
}
.box h2 a {
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
    color: #ffffff;
    width: 50%;
    font-family: 'Libre Franklin', sans-serif;
}

.box .content {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    width: 50%;
    font-family: 'Crimson Text', serif;
}
.box .read-more, .read-more {
    font-size: 16px;
    font-weight: bold;  
    font-style: italic;   
    color: #ffffff;    
    width: max-content;
    font-family: 'Crimson Text', serif;
    border-bottom: 3px solid #eea319;
}

.fullmore {
    margin: 50px 0;
    display: block;
    width: 100%;
    height: auto;
    }

.fullmore .read-more {
    margin: 0 auto;
}

.banner {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
}

.banner .banner-type-1 {    
    max-width: 460px;
    height: 130px;
    width: 100%;
    padding: 20px;
}

section .third .owl-theme .owl-nav {
    position: absolute;
    top: 0;
    width: 100%;
}

section .third .owl-carousel .owl-nav button {
    color: #FFF;
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #ccc;
    width: 50px;
    padding: 5px!important;
    font-family: 'Crimson Text', serif;
    opacity: 0.5;
}

section .third .owl-carousel .owl-nav [class*=owl-]:hover {
    background-color: gray;
    opacity: 1;
}

section .third .owl-carousel .owl-nav [class*=owl-]:focus {
    outline:0;
}

section .third .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 200px;
    right: 20%;
} 

section .third .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 200px;
    left: 20%;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

section .forth .row,
section .sixth .row {
    margin-bottom: 40px;
}

section .artigo {
    margin-top: 50px;
}

section .full-post {
    text-align: center;
}
section .full-post .content,
section .full-post .read-more {
    margin: 20px auto;
}

section .full-post .baba {
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
}
section .full-post img {
    height: 500px;
    width: 100%;
}

section .full-post .author {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    font-family: 'Crimson Text', serif; 
}

section .full-post .box {
    width: 100%;
    height: 200px;
    margin-top: -200px;
    padding: 0px 50px;
    background: linear-gradient(transparent, #000000, #000000, #000000);
    display: block;
    z-index: 1000;
    position: relative;
}

section .full-post h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
}

section .full-post h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}    

section .post-content {
    margin-top: 100px;
    color: #fff;
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    line-height: 20px;
}

.box.panel {
    margin-top: 0;
    height: auto;
    padding: 0;
    background: transparent;
}

.box.panel h2 a {
    width: 100%;
}

.box.panel .content {
    width: 100%;
}

.box.panel img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.panel-title {
    width: 60px;
    border-bottom: 3px solid #eea319;
    border-top: 3px solid #eea319;
    margin-bottom: 30px;
    padding: 0px;
}

.panel-title h2 {
    position: relative;
    z-index: 1;
    min-width: 300px;
    font-size: 36px;
    line-height: 30px;
    margin: 30px 0;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
}

.panel-detail {
    min-width: 300px;
    height: 20px;
    position: absolute;
    margin-top: -45px;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

.fifth .bootstrap-select span {
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    background-color: #000000;
}

.fifth .bootstrap-select span,
.fifth .bootstrap-select button, 
.fifth .bootstrap-select button span, 
.fifth .bootstrap-select.open button,
.fifth .dropdown-menu,
.fifth .dropdown-menu li a,
.fifth .dropdown-menu li a:hover,
.fifth .dropdown-menu li a:active,
.fifth .dropdown-menu li a:focus,
.fifth .open .dropdown-toggle,
.fifth .open .dropdown-toggle:hover,
.fifth .open .dropdown-toggle:active,
.fifth .open .dropdown-toggle:focus,
.fifth .dropdown-menu.open,
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
    background-color: transparent;
    outline: 0;
    border: none;
    width: 100%!important;
    color: #ffffff;
}

.fifth .bootstrap-select,
.fifth .bootstrap-select:hover; {
    background-color: #000000;
    outline: 0;
    border: none;
    width: 100%!important;
    color: #ffffff;
}

.fifth .dropdown-menu.open {    
    z-index: 10;
    position: relative;
}

.fifth span.caret {
    color: #ffffff;
}

.fifth .fa {
    color: #ffffff;
    float: right;
    margin-top: 10px;
}

.score {
    margin-top: 30px;
    width: 110px;
    height: 110px;
    border: double 4px transparent;
    border-radius: 80px;
    background-image: linear-gradient(#000, #000), radial-gradient(circle at top left, #3023ae,#eea319);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.score div {
    padding: 27px;
    font-weight: normal;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 32px;
    text-align: center;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

.editor img {
    width: 100%;
}

.box-yellow .col-md-6 {
    padding: 0;
    margin: 0;
    background-color: #eea319;
}
.box-yellow .choose {
    margin-top: 50px;
    min-height: 400px;
    padding: 30px;
}

.box-yellow .box h2,
.box-yellow .box h2 a {
    width: 70%;
}
.box-yellow .box .content {
    width: 70%;
}
@media (min-width: 1200px) {
    .choose:before{
        content: 'artigo';
        display: block;
        width: 100%;
        height: auto;
        font-family: 'Crimson Text', serif;
        font-size: 180px;
        color: #eea319;
        -ms-transform: rotate(7deg); /* IE 9 */
        -webkit-transform: rotate(7deg); /* Safari 3-8 */
        transform: rotate(-90deg);
        position: absolute;
        top: -50px;
        left: -420px;
    }
}


/* ////////////////////////////////////////////////////////////////////////////////////// */

/* Category */

.box.category-1 .cat-name {
    color: #eea319;
}

.box.category-1 .read-more {
    border-bottom: 3px solid #eea319;
}

.panel-detail.category-1  {
    background-color:  #eea319;
}

.panel-title.category-1 {
    border-bottom: 3px solid #eea319;
    border-top: 3px solid #eea319;
}

/* Category */

.box.category-2 .cat-name {
    color: #7700bb;
}

.box.category-2 .read-more {
    border-bottom: 3px solid #7700bb;
}

.panel-detail.category-2  {
    background-color:  #7700bb;
}

.panel-title.category-2 {
    border-bottom: 3px solid #7700bb;
    border-top: 3px solid #7700bb;
}

/* Category */

.box.category-3 .cat-name {
    color: #4a90e2;
}

.box.category-3 .read-more {
    border-bottom: 3px solid #4a90e2;
}

.panel-detail.category-3  {
    background-color:  #4a90e2;
}

.panel-title.category-3 {
    border-bottom: 3px solid #4a90e2;
    border-top: 3px solid #4a90e2;
}

/* Category */

.box.category-4 .cat-name {
    color: #7ed321;
}

.box.category-4 .read-more {
    border-bottom: 3px solid #7ed321;
}

.panel-detail.category-4  {
    background-color:  #7ed321;
}

.panel-title.category-4 {
    border-bottom: 3px solid #7ed321;
    border-top: 3px solid #7ed321;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

footer {
    background-color: #181818;
    padding-bottom: 50px;
    z-index: 200;
    position: relative;
}

footer ul li {
    list-style: none;
}

footer ul li a, 
footer ul li a:hover, 
footer ul li a:active, 
footer ul li a:focus {
    font-size: 14px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
}

footer .container-footer {
    margin-bottom: 50px;
}

footer .social {
    text-align: right;
}

footer .fa {
    color: #fff;
    font-size: 40px;
    margin-left: 20px;
}


/* ////////////////////////////////////////////////////////////////////////////////////// */

.btn-zone {
    top: 30%;
    margin-left: 80px;
    width: 180px;
    position: fixed;
    z-index: 100;
    text-align: center;    
    display: none;
}

.btn-zone a {
    border-bottom: 1px solid white;
    padding: 20px;
    display: block;
    color: #fff;
    /* font-family: 'Crimson Text', serif; */
    font-family: 'Libre Franklin', sans-serif;
}
.btn-zone a,
.btn-zone a:hover,
.btn-zone a:active,
.btn-zone a:focus {
    text-decoration: none;
    cursor: pointer;
}

.btn-zone a:last-child {
    border: none;
}

.btn-zone p {
    font-size: 12px;
    margin: 0;
}

.btn-zone i {
    font-size: 40px;
}


@media (min-width: 1200px) {
    .anuncie .container {
        width: 600px;
    }
    .sec-post .container {
        width: 600px;
    }

}

.forms h2 {
    color: #eea319;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 32px;
    font-weight: 900;
    margin-top: 50px;
}

.forms p {
    color: #fff;
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    margin-top: 30px;
}

.forms label {
    color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
}

.forms input {
    background-color:  transparent!important;
    border-radius: 0!important;
    color: #fff!important;
}

.forms input[type="checkbox"] {
    margin-top: 3px;
    width: 12px;
}

.forms textarea {
    background-color: transparent!important;
    overflow: hidden;
    border-radius: 0!important;
    color: #fff!important;
}

.forms .form-group a {
    color: #fff;
}

.forms button {
    background-color: #eea319!important;
    border: none!important;
    color: #000!important;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    border-radius: 0;
    height: 50px;
}

.forms .form-group {
    margin-bottom: 20px;
}

.forms .btn.full {
    width: 100%;
    margin-bottom: 20px;
    text-align: center; 
}

.forms .btn.face {
    color: #fff!important;
    background-color: #3b5998!important;
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

#perfil, #perfil-title {
    margin-top: 50px;
}

#perfil .nav-tabs {
    border: none;
}

#perfil .nav-tabs li {
    width: 100%;
    background-color: #181818;
    margin-bottom: 10px;
}

#perfil .nav-tabs li a {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    border-left: 5px solid transparent;
    color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    font-weight: 900;
    height: 80px;
    line-height: 40px;
    padding: 20px;
    text-align: center;
    white-space: nowrap;
}

#perfil .nav-tabs li a:hover, 
#perfil .nav-tabs li a:active, 
#perfil .nav-tabs li a:focus {
    background-color: #181818;
    border-left: 5px solid #eea319!important;
    color: #eea319!important;
}

#perfil h1 {
    color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 36px;
    font-weight: 900;
}

#perfil h2,
#perfil h2 a {
    color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 22px;
    font-weight: 900;
}

#perfil h3 {
    color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

#perfil form label {
    color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

#perfil form {
    margin-top: 30px;
}

#perfil .mg h1 {
    margin-bottom: 30px;
}

#perfil form p { float: left; width: 33%; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #181818;
    border-left: 5px solid #eea319!important;
    color: #eea319!important;
}

#perfil .le-tab {
    background-color: #181818;
    padding: 20px 60px;
    min-height: 330px;
}

#perfil-title a {
    text-decoration: none;
    color: #fff;
}

#perfil-title p {
    float: left;
    height: 90px;
    margin:  0;
    padding: 35px;
    line-height: 20px;
    color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

#perfil-title p span.name {
    color: #eea319;
    margin-right: 10px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: transparent;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 7px;
    background: #eea319;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* ////////////////////////////////////////////////////////////////////////////////////// */

/* less < 400 */
@media (max-width: 400px) {

    .first {
        display: none;
    }

    .box .content {
            width: 100%;
    }

    .box-yellow .choose {
        margin-top: 0;
    }

    footer .social {
        text-align: center;
    }

    footer ul {
        padding: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #perfil .nav-tabs li a {
        height: 50px;
        line-height: 12px;
        font-weight: 500;
    }

    section button {
        width: 100%;
    }

    .second .container {
        display: none;
    }

    .navbar-default .nav-mobile {
        display: block;
    }

    .navbar {
        border-bottom: 2px solid #eea319;  
    }
    .score {
        margin-left: -20px;
    }
}


/* less < 1200 */
@media (max-width: 1200px) {
    .box-yellow .choose {
        margin-top: 0;
    }
}


/* more > 800 */
@media (min-width: 800px) {
    html {
     /*background: green;*/
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////// */