<!DOCTYPE html>
<html>
<head>

    <title>Wahiga Styleguide</title>
    <meta name="description" content="Wahiga Online GUI Guide">
    <meta name="author" content="@Piulres">
    <meta charset="UTF-8">
    <meta charset="utf-8"> <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <!-- Scripts -->

    <!-- jquery -->
    <script type='text/javascript' src='../js/jquery.js'></script>

    <!-- boostrap -->
    <script type='text/javascript' src='../js/bootstrap.min.js'></script>

    <!-- bootstrap select -->
    <script type='text/javascript' src='../js/bootstrap-select.js'></script>

    <!-- datepicker -->
    <script type='text/javascript' src='../js/bootstrap-datepicker.js'></script>

    <!-- custom calls -->
    <script type='text/javascript' src='../js/script.js'></script>
    
    <!-- owl carousel -->
    <script type='text/javascript' src='../js/owl.carousel.min.js'></script>

    <!-- parallax -->
    <script type='text/javascript' src='../js/parallax.js'></script>
    
    <!-- scrollreveal -->    
    <script type='text/javascript' src='../js/scrollreveal.js'></script>
    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i|Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- CSS's -->
    <link href='../css/normalize.css' rel='stylesheet' type='text/css'>
    <link href='../css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap-theme-1.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap-select.css' rel='stylesheet' type='text/css'>
    <link href='../css/datepicker.css' rel='stylesheet' type='text/css'>
    <link href='../css/owl.carousel.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/owl.theme.default.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/custom.css' rel='stylesheet' type='text/css'>

</head>
<body class="page">

    <footer>

        <div class="container container-footer">

            <img class="logo" src="../img/logo.png">

        </div>

        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-2">
                    <ul>
                        <li><a href="">Pc</a></li>
                        <li><a href="">Xbox</a></li>
                        <li><a href="">Playstation</a></li>
                        <li><a href="">Switch</a></li>
                        <li><a href="">Wii</a></li>
                        <li><a href="">3ds</a></li>
                        <li><a href="">Vita</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li><a href="">Reviews</a></li>                    
                        <li><a href="">Artigos</a></li>                    
                        <li><a href="">Cinema</a></li>                    
                        <li><a href="">Tv/Séries</a></li>                    
                        <li><a href="">E-Sports</a></li>                    
                        <li><a href="">Literatura</a></li>                    
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li><a href="">Quem Somos</a></li>                    
                        <li><a href="">Contato</a></li>                    
                        <li><a href="">Anuncie com a gente</a></li>                    
                        <li><a href="">Sugestão de Pauta</a></li>                    
                    </ul>
                </div>
                <div class="col-md-5 social">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>

            </div>

        </div>

    </footer>

</body>
</html>