<!DOCTYPE html>
<html>
<head>

    <title>Wahiga Styleguide</title>
    <meta name="description" content="Wahiga Online GUI Guide">
    <meta name="author" content="@Piulres">
    <meta charset="UTF-8">
    <meta charset="utf-8"> <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <!-- Scripts -->

    <!-- jquery -->
    <script type='text/javascript' src='../js/jquery.js'></script>

    <!-- boostrap -->
    <script type='text/javascript' src='../js/bootstrap.min.js'></script>

    <!-- w3data - script to import html files // notrequired -->
    <script type='text/javascript' src='../js/w3data.js'></script>
    
    <!-- datepicker -->
    <script type='text/javascript' src='../js/bootstrap-datepicker.js'></script>

    <!-- custom calls -->
    <script type='text/javascript' src='../js/script.js'></script>
    
    <!-- owl carousel -->
    <script type='text/javascript' src='../js/owl.carousel.min.js'></script>
    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i|Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- CSS's -->
    <link href='../css/normalize.css' rel='stylesheet' type='text/css'>
    <link href='../css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap-theme-1.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/datepicker.css' rel='stylesheet' type='text/css'>
    <link href='../css/owl.carousel.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/owl.theme.default.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/custom.css' rel='stylesheet' type='text/css'>

</head>
<body class="page">

    <header>
        
        <div class="first">

            <div class="container">
                <nav class="navbar navbar-default">

                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Assine nossa newsletter</a></li>                
                            <li><a href="#">Quem Somos</a></li>                
                            <li><a href="#">Anuncie com a gente</a></li>                
                        </ul>
                      
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Registre-se</a></li>
                        </ul>
                    </div>

                </nav>
            </div>

        </div>
        
        <div class="second">

            <div class="container">
                <img class="logo" src="../img/logo.png">
            </div>

            <nav class="navbar yamm navbar-default">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li class="dropdown yamm-fw">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <ul class="set-1">
                                                <li><a href="#">PC</a></li>
                                                <li><a href="#" class="active">Playstation</a></li>
                                                <li><a href="#">Xbox</a></li>
                                                <li><a href="#">Nintendo</a></li>
                                                <li><a href="#">Mobile</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <ul class="set-2">
                                                <li>
                                                    <a href="#" class="active">
                                                        A Rockstar Games mostrou hoje um pouco mais de informações 
                                                        sobre Red Dead Redemption 2.
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        A Rockstar Games mostrou hoje um pouco mais de informações 
                                                        sobre Red Dead Redemption 2.
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        A Rockstar Games mostrou hoje um pouco mais de informações 
                                                        sobre Red Dead Redemption 2.
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8">
                                            <img class="drop-img" src="../img/example/content-1.jpg">
                                            <div class="box color category-1">
                                                <p class="cat-name">Games</p>
                                                <p class="post-date">23/11/2017</p>
                                                <h2>Red Dead Redemption 2: Confira novo trailer do game</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                          </ul>
                        </li> 

                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Artigos</a></li>
                        <li><a href="#">Cinema</a></li>
                        <li><a href="#">Tv/Séries</a></li>
                        <li><a href="#">E-sport</a></li>
                        <li><a href="#">Literatura</a></li>
                    </ul>                  
                    
                </div>

            </nav>

        </div>        

    </header>

    <section>
        
        <div class="third">

            <!-- <div class="container"> -->

                <div class="loop owl-carousel owl-theme">
                    
                    <!-- Item -->
                    <div>
                        <img class="logo" src="../img/example/content-1.jpg">
                        <div class="box color category-1">
                            <hr>
                            <p class="cat-name">Games</p>
                            <p class="post-date">23/11/2017</p>
                            <h2>Red Dead Redemption 2: Confira novo trailer do game</h2>
                            <p class="content">
                                A Rockstar Games mostrou hoje um pouco mais de informações 
                                sobre Red Dead Redemption 2. Um novo trailer do título, 
                                que é de mundo aberto foi lançado, o qual começa mostrando a 
                                história do game, combates…
                            </p>
                            <p class="read-more">Leia Mais >>>></p>
                        </div>
                    </div>

                    <!-- Item -->
                    <div>
                        <img class="logo" src="../img/example/content-2.jpg">
                        <div class="box color category-2">
                            <hr>
                            <p class="cat-name">Filmes</p>
                            <p class="post-date">23/11/2017</p>
                            <h2>Red Dead Redemption 2: Confira novo trailer do game</h2>
                            <p class="content">
                                A Rockstar Games mostrou hoje um pouco mais de informações 
                                sobre Red Dead Redemption 2. Um novo trailer do título, 
                                que é de mundo aberto foi lançado, o qual começa mostrando a 
                                história do game, combates…
                            </p>
                            <p class="read-more">Leia Mais >>>></p>
                        </div>
                    </div>

                    <!-- Item -->
                    <div>
                        <img class="logo" src="../img/example/content-3.jpg">
                        <div class="box color category-3">
                            <hr>
                            <p class="cat-name">Artigos</p>
                            <p class="post-date">23/11/2017</p>
                            <h2>Red Dead Redemption 2: Confira novo trailer do game</h2>
                            <p class="content">
                                A Rockstar Games mostrou hoje um pouco mais de informações 
                                sobre Red Dead Redemption 2. Um novo trailer do título, 
                                que é de mundo aberto foi lançado, o qual começa mostrando a 
                                história do game, combates…
                            </p>
                            <p class="read-more">Leia Mais >>>></p>
                        </div>
                    </div>

                    <!-- Item -->
                    <div>
                        <img class="logo" src="../img/example/content-2.jpg">
                        <div class="box color category-2">
                            <hr>
                            <p class="cat-name">Filmes</p>
                            <p class="post-date">23/11/2017</p>
                            <h2>Red Dead Redemption 2: Confira novo trailer do game</h2>
                            <p class="content">
                                A Rockstar Games mostrou hoje um pouco mais de informações 
                                sobre Red Dead Redemption 2. Um novo trailer do título, 
                                que é de mundo aberto foi lançado, o qual começa mostrando a 
                                história do game, combates…
                            </p>
                            <p class="read-more">Leia Mais >>>></p>
                        </div>
                    </div>

                    <!-- Item -->
                    <div>
                        <img class="logo" src="../img/example/content-1.jpg">
                        <div class="box color category-1">
                            <hr>
                            <p class="cat-name">Games</p>
                            <p class="post-date">23/11/2017</p>
                            <h2>Red Dead Redemption 2: Confira novo trailer do game</h2>
                            <p class="content">
                                A Rockstar Games mostrou hoje um pouco mais de informações 
                                sobre Red Dead Redemption 2. Um novo trailer do título, 
                                que é de mundo aberto foi lançado, o qual começa mostrando a 
                                história do game, combates…
                            </p>
                            <p class="read-more">Leia Mais >>>></p>
                        </div>
                    </div>

                    <!-- Item -->
                    <div>
                        <img class="logo" src="../img/example/content-2.jpg">
                        <div class="box color category-2">
                            <hr>
                            <p class="cat-name">Filmes</p>
                            <p class="post-date">23/11/2017</p>
                            <h2>Red Dead Redemption 2: Confira novo trailer do game</h2>
                            <p class="content">
                                A Rockstar Games mostrou hoje um pouco mais de informações 
                                sobre Red Dead Redemption 2. Um novo trailer do título, 
                                que é de mundo aberto foi lançado, o qual começa mostrando a 
                                história do game, combates…
                            </p>
                            <p class="read-more">Leia Mais >>>></p>
                        </div>
                    </div>

                    <!-- Item -->
                    <div>
                        <img class="logo" src="../img/example/content-3.jpg">
                        <div class="box category-3">
                            <hr>
                            <p class="cat-name">Artigos</p>
                            <p class="post-date">23/11/2017</p>
                            <h2>Red Dead Redemption 2: Confira novo trailer do game</h2>
                            <p class="content">
                                A Rockstar Games mostrou hoje um pouco mais de informações 
                                sobre Red Dead Redemption 2. Um novo trailer do título, 
                                que é de mundo aberto foi lançado, o qual começa mostrando a 
                                história do game, combates…
                            </p>
                            <p class="read-more">Leia Mais >>>></p>
                        </div>
                    </div>

                </div>
            
            <!-- </div> -->

        </div>

    </section>

</body>
</html>