<!DOCTYPE html>
<html>
<head>

    <title>Wahiga Styleguide</title>
    <meta name="description" content="Wahiga Online GUI Guide">
    <meta name="author" content="@Piulres">
    <meta charset="UTF-8">
    <meta charset="utf-8"> <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <!-- Scripts -->

    <!-- jquery -->
    <script type='text/javascript' src='../js/jquery.js'></script>

    <!-- boostrap -->
    <script type='text/javascript' src='../js/bootstrap.min.js'></script>

    <!-- bootstrap select -->
    <script type='text/javascript' src='../js/bootstrap-select.js'></script>

    <!-- datepicker -->
    <script type='text/javascript' src='../js/bootstrap-datepicker.js'></script>
    
    <!-- owl carousel -->
    <script type='text/javascript' src='../js/owl.carousel.min.js'></script>

    <!-- parallax -->
    <script type='text/javascript' src='../js/parallax.js'></script>
    
    <!-- scrollreveal -->    
    <script type='text/javascript' src='../js/scrollreveal.js'></script>

    <!-- classie -->    
    <script type='text/javascript' src='../js/classie.js'></script>

    <!-- mlpushmenu -->    
    <script type='text/javascript' src='../js/mlpushmenu.js'></script>

    <!-- modernizr -->    
    <script type='text/javascript' src='../js/modernizr.custom.js'></script>

    <!-- custom calls -->
    <script type='text/javascript' src='../js/script.js'></script>
    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i|Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- CSS's -->
    <link href='../css/normalize.css' rel='stylesheet' type='text/css'>
    <link href='../css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap-theme-1.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap-select.css' rel='stylesheet' type='text/css'>
    <link href='../css/datepicker.css' rel='stylesheet' type='text/css'>
    <link href='../css/owl.carousel.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/owl.theme.default.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/icons.css' rel='stylesheet' type='text/css'>
    <link href='../css/component.css' rel='stylesheet' type='text/css'>
    <link href='../css/custom.css' rel='stylesheet' type='text/css'>

</head>
<body class="page">

    <div id="morphsearch" class="morphsearch">
            
        <form class="morphsearch-form">
            <input class="morphsearch-input" type="search" placeholder="Search..."/>
            <button class="morphsearch-submit" type="submit">Procurar</button>
        </form>

        <div class="morphsearch-content">
            <!-- <div class="dummy-column">
                <h2>People</h2>
                <a class="dummy-media-object" href="http://twitter.com/SaraSoueidan">
                    <img class="round" src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G" alt="Sara Soueidan"/>
                    <h3>Sara Soueidan</h3>
                </a>
                <a class="dummy-media-object" href="http://twitter.com/rachsmithtweets">
                    <img class="round" src="http://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G" alt="Rachel Smith"/>
                    <h3>Rachel Smith</h3>
                </a>
                <a class="dummy-media-object" href="http://www.twitter.com/peterfinlan">
                    <img class="round" src="http://0.gravatar.com/avatar/06458359cb9e370d7c15bf6329e5facb?s=50&d=identicon&r=G" alt="Peter Finlan"/>
                    <h3>Peter Finlan</h3>
                </a>
                <a class="dummy-media-object" href="http://www.twitter.com/pcridesagain">
                    <img class="round" src="http://1.gravatar.com/avatar/db7700c89ae12f7d98827642b30c879f?s=50&d=identicon&r=G" alt="Patrick Cox"/>
                    <h3>Patrick Cox</h3>
                </a>
                <a class="dummy-media-object" href="https://twitter.com/twholman">
                    <img class="round" src="http://0.gravatar.com/avatar/cb947f0ebdde8d0f973741b366a51ed6?s=50&d=identicon&r=G" alt="Tim Holman"/>
                    <h3>Tim Holman</h3>
                </a>
                <a class="dummy-media-object" href="https://twitter.com/shaund0na">
                    <img class="round" src="http://1.gravatar.com/avatar/9bc7250110c667cd35c0826059b81b75?s=50&d=identicon&r=G" alt="Shaun Dona"/>
                    <h3>Shaun Dona</h3>
                </a>
            </div>
            <div class="dummy-column">
                <h2>Popular</h2>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/08/05/page-preloading-effect/">
                    <img src="img/thumbs/PagePreloadingEffect.png" alt="PagePreloadingEffect"/>
                    <h3>Page Preloading Effect</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/05/28/arrow-navigation-styles/">
                    <img src="img/thumbs/ArrowNavigationStyles.png" alt="ArrowNavigationStyles"/>
                    <h3>Arrow Navigation Styles</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/06/19/ideas-for-subtle-hover-effects/">
                    <img src="img/thumbs/HoverEffectsIdeasNew.png" alt="HoverEffectsIdeasNew"/>
                    <h3>Ideas for Subtle Hover Effects</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/07/14/freebie-halcyon-days-one-page-website-template/">
                    <img src="img/thumbs/FreebieHalcyonDays.png" alt="FreebieHalcyonDays"/>
                    <h3>Halcyon Days Template</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/05/22/inspiration-for-article-intro-effects/">
                    <img src="img/thumbs/ArticleIntroEffects.png" alt="ArticleIntroEffects"/>
                    <h3>Inspiration for Article Intro Effects</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/06/26/draggable-dual-view-slideshow/">
                    <img src="img/thumbs/DraggableDualViewSlideshow.png" alt="DraggableDualViewSlideshow"/>
                    <h3>Draggable Dual-View Slideshow</h3>
                </a>
            </div>
            <div class="dummy-column">
                <h2>Recent</h2>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/10/07/tooltip-styles-inspiration/">
                    <img src="img/thumbs/TooltipStylesInspiration.png" alt="TooltipStylesInspiration"/>
                    <h3>Tooltip Styles Inspiration</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/09/23/animated-background-headers/">
                    <img src="img/thumbs/AnimatedHeaderBackgrounds.png" alt="AnimatedHeaderBackgrounds"/>
                    <h3>Animated Background Headers</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/09/16/off-canvas-menu-effects/">
                    <img src="img/thumbs/OffCanvas.png" alt="OffCanvas"/>
                    <h3>Off-Canvas Menu Effects</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/09/02/tab-styles-inspiration/">
                    <img src="img/thumbs/TabStyles.png" alt="TabStyles"/>
                    <h3>Tab Styles Inspiration</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/">
                    <img src="img/thumbs/ResponsiveSVGs.png" alt="ResponsiveSVGs"/>
                    <h3>Make SVGs Responsive with CSS</h3>
                </a>
                <a class="dummy-media-object" href="http://tympanus.net/codrops/2014/07/23/notification-styles-inspiration/">
                    <img src="img/thumbs/NotificationStyles.png" alt="NotificationStyles"/>
                    <h3>Notification Styles Inspiration</h3>
                </a>
            </div> -->
        </div>
        
        <span class="morphsearch-close"></span>

    </div>

    <div class="mp-pusher" id="mp-pusher">

        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
            <div class="mp-level">
                <h2 class="icon">Menu</h2>
                <ul>
                    <li class="icon icon-arrow-left">
                        <a href="#">Games</a>
                        <div class="mp-level">
                            <h2 class="icon">Games</h2>
                            <a class="mp-back" href="#">voltar</a>
                            <ul>
                                <li class="icon icon-arrow-left">
                                    <a href="#">PC</a>
                                    <div class="mp-level">
                                        <h2>PC</h2>
                                        <a class="mp-back" href="#">voltar</a>
                                        <ul>
                                            <li><a href="#">Super Smart Phone</a></li>
                                            <li><a href="#">Thin Magic Mobile</a></li>
                                            <li><a href="#">Performance Crusher</a></li>
                                            <li><a href="#">Futuristic Experience</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="icon icon-arrow-left">
                                    <a href="#">Playstation</a>
                                    <div class="mp-level">
                                        <h2>Playstation</h2>
                                        <a class="mp-back" href="#">voltar</a>
                                        <ul>
                                            <li><a href="#">Flat Superscreen</a></li>
                                            <li><a href="#">Gigantic LED</a></li>
                                            <li><a href="#">Power Eater</a></li>
                                            <li><a href="#">3D Experience</a></li>
                                            <li><a href="#">Classic Comfort</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="icon icon-arrow-left">
                                    <a href="#">Xbox</a>
                                    <div class="mp-level">
                                        <h2>Xbox</h2>
                                        <a class="mp-back" href="#">voltar</a>
                                        <ul>
                                            <li><a href="#">Smart Shot</a></li>
                                            <li><a href="#">Power Shooter</a></li>
                                            <li><a href="#">Easy Photo Maker</a></li>
                                            <li><a href="#">Super Pixel</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="icon icon-arrow-left">
                                    <a href="#">Nintendo</a>
                                    <div class="mp-level">
                                        <h2>Nintendo</h2>
                                        <a class="mp-back" href="#">voltar</a>
                                        <ul>
                                            <li><a href="#">Smart Shot</a></li>
                                            <li><a href="#">Power Shooter</a></li>
                                            <li><a href="#">Easy Photo Maker</a></li>
                                            <li><a href="#">Super Pixel</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="icon icon-arrow-left">
                                    <a href="#">Mobile</a>
                                    <div class="mp-level">
                                        <h2>Mobile</h2>
                                        <a class="mp-back" href="#">voltar</a>
                                        <ul>
                                            <li><a href="#">Smart Shot</a></li>
                                            <li><a href="#">Power Shooter</a></li>
                                            <li><a href="#">Easy Photo Maker</a></li>
                                            <li><a href="#">Super Pixel</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>                    
                    <li><a class="" href="#">Reviews</a></li>
                    <li><a class="" href="#">Artigos</a></li>
                    <li><a class="" href="#">Cinema</a></li>
                    <li><a class="" href="#">Tv/Séries</a></li>
                    <li><a class="" href="#">E-sport</a></li>
                    <li><a class="" href="#">Literatura</a></li>
                </ul>
                    
            </div>
        </nav>

        <header>
            
            <div class="first">

                <div class="container">
                    <nav class="navbar navbar-default">

                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="#">Assine nossa newsletter</a></li>                
                                <li><a href="#">Quem Somos</a></li>                
                                <li><a href="#">Anuncie com a gente</a></li>                
                            </ul>
                          
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Registre-se</a></li>
                            </ul>
                        </div>

                    </nav>
                </div>

            </div>
            
            <div class="second">

                <div class="container">
                    <img class="logo" src="../img/logo.png">
                </div>

                <nav class="navbar yamm navbar-default">

                    <div class="nav-mobile">
                        <a class="mob menu-trigger" id="trigger" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        <a class="mob" href="#"><img class="logo" src="../img/logo.png"></a>
                        <a class="mob" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>                    
                    
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">

                            <li class="dropdown yamm-fw">
                              <a href="#" class="ga dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <ul class="set-1">
                                                    <li><a href="#">PC</a></li>
                                                    <li><a href="#" class="active">Playstation</a></li>
                                                    <li><a href="#">Xbox</a></li>
                                                    <li><a href="#">Nintendo</a></li>
                                                    <li><a href="#">Mobile</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2">
                                                <ul class="set-2">
                                                    <li>
                                                        <a href="#" class="active">
                                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                                            sobre Red Dead Redemption 2.
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                                            sobre Red Dead Redemption 2.
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                                            sobre Red Dead Redemption 2.
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-8">
                                                <img class="drop-img" src="../img/example/content-1.jpg">
                                                <div class="box color category-1">
                                                    <p class="cat-name">Games</p>
                                                    <p class="post-date">23/11/2017</p>
                                                    <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                              </ul>
                            </li> 

                            <li><a class="ga" href="#">Reviews</a></li>
                            <li><a class="ga" href="#">Artigos</a></li>
                            <li><a class="ga" href="#">Cinema</a></li>
                            <li><a class="ga" href="#">Tv/Séries</a></li>
                            <li><a class="ga" href="#">E-sport</a></li>
                            <li><a class="ga" href="#">Literatura</a></li>
                            <li><a class="ga" href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        </ul>                  
                        
                    </div>

                </nav>

            </div>        

        </header>

        <section>
            
            <div class="third">

                <!-- <div class="container"> -->               

                    <div class="loop owl-carousel owl-theme">
                        
                        <!-- Item -->
                        <div>
                            <img src="../img/example/content-1.jpg">
                            <div class="box color category-1">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <img src="../img/example/content-2.jpg">
                            <div class="box color category-2">
                                <hr>
                                <p class="cat-name">Filmes</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <img src="../img/example/content-3.jpg">
                            <div class="box color category-3">
                                <hr>
                                <p class="cat-name">Artigos</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <img src="../img/example/content-2.jpg">
                            <div class="box color category-2">
                                <hr>
                                <p class="cat-name">Filmes</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <img src="../img/example/content-1.jpg">
                            <div class="box color category-1">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <img src="../img/example/content-2.jpg">
                            <div class="box color category-2">
                                <hr>
                                <p class="cat-name">Filmes</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>
                        </div>

                        <!-- Item -->
                        <div>
                            <img src="../img/example/content-3.jpg">
                            <div class="box category-3">
                                <hr>
                                <p class="cat-name">Artigos</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>
                        </div>

                    </div>                   
                
                <!-- </div> -->

            </div>

            <div class="banner">
                <img class="banner-type-1" src="../img/example/banner-1.png"/>
            </div>

        </section>

        <section class="effect-1">
            
            <div class="forth">
                
                <div class="container">

                    <div class="row">
                        
                        <div class="col-md-12">
                            
                            <div class="panel-title">
                                                            
                                <h2>Últimas Noticias</h2>
                                <div class="panel-detail category-2"></div>

                            </div>

                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-sm-12 col-md-6">

                            <div class="box trick panel category-1">
                                <img src="../img/example/content-1.jpg">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="box trick panel category-2">
                                <img src="../img/example/content-1.jpg">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="box trick panel category-3">
                                <img src="../img/example/content-1.jpg">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                     
                        <div class="col-sm-6 col-md-3">

                            <div class="box trick panel category-2">
                                <img src="../img/example/content-1.jpg">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="box trick panel category-3">
                                <img src="../img/example/content-1.jpg">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>

                        </div>

                        <div class="col-sm-12 col-md-6">

                            <div class="box trick panel category-1">
                                <img src="../img/example/content-1.jpg">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                                <p class="read-more">Leia Mais >>>></p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="banner">
                <img class="banner-type-1" src="../img/example/banner-1.png"/>
            </div>

        </section>

        <section class="effect-3">
            
            <div class="fifth">
                
                <div class="container">

                    <div class="row">
                        
                        <div class="col-md-6">

                            <div class="row">
                        
                                <div class="col-md-12">

                                    <div class="panel-title">
                                                                    
                                        <h2>Games</h2>
                                        <div class="panel-detail category-3"></div>

                                    </div>

                                </div>

                            </div>
                            
                            <div class="row">
                            
                                <div class="col-md-12">

                                    <div class="box trick panel category-2">
                                        <img src="../img/example/content-1.jpg">
                                        <hr>
                                        <p class="cat-name">Games</p>
                                        <p class="post-date">23/11/2017</p>
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                    </div>

                                </div>
                            
                            </div>

                            <div class="row">
                                    
                                <div class="col-sm-6 col-md-6">

                                    <div class="box trick panel category-3">
                                        <hr>
                                        <p class="cat-name">Games</p>
                                        <p class="post-date">23/11/2017</p>
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                    </div>

                                </div>

                                <div class="col-sm-6 col-md-6">

                                    <div class="box trick panel category-4">
                                        <hr>
                                        <p class="cat-name">Games</p>
                                        <p class="post-date">23/11/2017</p>
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                    </div>
                        
                                </div>
                            
                            </div>

                        </div>                    

                        <div class="col-md-6">

                            <div class="row">
                        
                                <div class="col-md-12">

                                    <div class="panel-title">
                                                                    
                                        <h2>Últimos Reviews</h2>
                                        <div class="panel-detail category-4"></div>

                                    </div>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-1">
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>
                            
                                <div class="col-md-11">

                                    <select class="selectpicker test">
                                        <option>Mais Recentes #1</option>
                                        <option>Mais Recentes #2</option>
                                        <option>Mais Recentes #3</option>                   
                                    </select>

                                </div>

                            </div>

                            <div class="row">
                                
                                <div class="col-xs-8 col-md-8">

                                    <div class="box trick panel">
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                    </div>
                                    
                                </div>

                                <div class="col-xs-4 col-md-4">

                                    <div class="score trick">
                                        <div>9,9</div>
                                    </div>
                                    
                                </div>

                            </div>

                            <div class="row">
                                
                                <div class="col-xs-8 col-md-8">

                                    <div class="box trick panel">
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                    </div>
                                    
                                </div>

                                <div class="col-xs-4 col-md-4">

                                    <div class="score trick">
                                        <div>9,4</div>
                                    </div>
                                    
                                </div>

                            </div>

                            <div class="row">
                                
                                <div class="col-xs-8 col-md-8">

                                    <div class="box trick panel">
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                    </div>
                                    
                                </div>

                                <div class="col-xs-4 col-md-4">

                                    <div class="score trick">
                                        <div>10</div>
                                    </div>
                                    
                                </div>

                            </div>

                            <div class="row">
                                
                                <div class="col-xs-8 col-md-8">

                                    <div class="box trick panel">
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                    </div>
                                    
                                </div>

                                <div class="col-xs-4 col-md-4">

                                    <div class="score trick">
                                        <div>9,4</div>
                                    </div>
                                    
                                </div>

                            </div>

                        </div> 

                    </div>

                </div>

                <div class="fullmore">
                    <p class="read-more">Leia Mais >>>></p>
                </div>

                <div class="banner">
                    <img class="banner-type-1" src="../img/example/banner-1.png"/>
                </div>

            </div>

        </section>

        <section class="effect-4">
            
            <div class="seventh">

                <div class="editor">

                    <div class="box-yellow">
                        
                        <div class="col-md-6">
                            
                            <img src="../img/example/content-1.jpg"/>

                        </div>

                        <div class="col-md-6 choose">
                            
                            <div class="row">
                            
                                <div class="col-md-12">

                                    <div class="panel-title category-2">
                                                                    
                                        <h2>Escolha do Editor</h2>
                                        <div class="panel-detail"></div>

                                    </div>

                                </div>

                            </div>
                                
                            <div class="row">
                                
                                <div class="col-md-12">

                                    <div class="box trick panel category-2">
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                        <p class="read-more">Leia Mais >>>></p>
                                    </div>

                                </div>
                                
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <section class="effect-2">
            
            <div class="sixth">
                
                <div class="container">

                    <div class="row">
                        
                        <div class="col-md-12">
                            
                            <div class="panel-title">
                                                            
                                <h2>Últimas Noticias</h2>
                                <div class="panel-detail category-2"></div>

                            </div>

                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-sm-12 col-md-6">

                            <div class="box trick panel category-1">
                                <img src="../img/example/content-1.jpg">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                <p class="content">
                                    A Rockstar Games mostrou hoje um pouco mais de informações 
                                    sobre Red Dead Redemption 2. Um novo trailer do título, 
                                    que é de mundo aberto foi lançado, o qual começa mostrando a 
                                    história do game, combates…
                                </p>
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="box trick panel category-2">
                                <img src="../img/example/content-1.jpg">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="box trick panel category-3">
                                <img src="../img/example/content-1.jpg">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                     
                        <div class="col-sm-6 col-md-3">

                            <div class="box trick panel category-1">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="box trick panel category-2">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="box trick panel category-3">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                            </div>

                        </div>

                        <div class="col-sm-6 col-md-3">

                            <div class="box trick panel category-4">
                                <hr>
                                <p class="cat-name">Games</p>
                                <p class="post-date">23/11/2017</p>
                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="banner">
                <img class="banner-type-1" src="../img/example/banner-1.png"/>
            </div>

        </section>

        <footer>

            <div class="container container-footer">

                <img class="logo" src="../img/logo.png">

            </div>

            
            <div class="container">
                
                <div class="row">
                    
                    <div class="col-sm-2 col-md-2">
                        <ul>
                            <li><a href="">Pc</a></li>
                            <li><a href="">Xbox</a></li>
                            <li><a href="">Playstation</a></li>
                            <li><a href="">Switch</a></li>
                            <li><a href="">Wii</a></li>
                            <li><a href="">3ds</a></li>
                            <li><a href="">Vita</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <ul>
                            <li><a href="">Reviews</a></li>                    
                            <li><a href="">Artigos</a></li>                    
                            <li><a href="">Cinema</a></li>                    
                            <li><a href="">Tv/Séries</a></li>                    
                            <li><a href="">E-Sports</a></li>                    
                            <li><a href="">Literatura</a></li>                    
                        </ul>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <ul>
                            <li><a href="">Quem Somos</a></li>                    
                            <li><a href="">Contato</a></li>                    
                            <li><a href="">Anuncie com a gente</a></li>                    
                            <li><a href="">Sugestão de Pauta</a></li>                    
                        </ul>
                    </div>
                    <div class="col-sm-5 col-md-5 social">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div>

                </div>

            </div>

        </footer>

    </div>

    <script type="text/javascript">
        
        new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ), {
            type : 'cover'
        } );

    </script>

    <script type="text/javascript">
        
        (function() {
            var morphSearch = document.getElementById( 'morphsearch' ),
                input = morphSearch.querySelector( 'input.morphsearch-input' ),
                ctrlClose = morphSearch.querySelector( 'span.morphsearch-close' ),
                isOpen = isAnimating = false,
                // show/hide search area
                toggleSearch = function(evt) {
                    // return if open and the input gets focused
                    if( evt.type.toLowerCase() === 'focus' && isOpen ) return false;

                    if( isOpen ) {
                        classie.remove( morphSearch, 'open' );

                        // trick to hide input text once the search overlay closes 
                        // todo: hardcoded times, should be done after transition ends
                        if( input.value !== '' ) {
                            setTimeout(function() {
                                classie.add( morphSearch, 'hideInput' );
                                setTimeout(function() {
                                    classie.remove( morphSearch, 'hideInput' );
                                    input.value = '';
                                }, 300 );
                            }, 500);
                        }
                        
                        input.blur();
                    }
                    else {
                        classie.add( morphSearch, 'open' );
                    }
                    isOpen = !isOpen;
                };

            // events
            input.addEventListener( 'focus', toggleSearch );
            ctrlClose.addEventListener( 'click', toggleSearch );
            // esc key closes search overlay
            // keyboard navigation events
            document.addEventListener( 'keydown', function( ev ) {
                var keyCode = ev.keyCode || ev.which;
                if( keyCode === 27 && isOpen ) {
                    toggleSearch(ev);
                }
            } );


            /***** for demo purposes only: don't allow to submit the form *****/
            morphSearch.querySelector( 'button[type="submit"]' ).addEventListener( 'click', function(ev) { ev.preventDefault(); } );
        })();

    </script>

</body>
</html>