<!DOCTYPE html>
<html>
<head>

    <title>Wahiga Styleguide</title>
    <meta name="description" content="Wahiga Online GUI Guide">
    <meta name="author" content="@Piulres">
    <meta charset="UTF-8">
    <meta charset="utf-8"> <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <!-- Scripts -->

    <!-- jquery -->
    <script type='text/javascript' src='../js/jquery.js'></script>

    <!-- boostrap -->
    <script type='text/javascript' src='../js/bootstrap.min.js'></script>

    <!-- bootstrap select -->
    <script type='text/javascript' src='../js/bootstrap-select.js'></script>

    <!-- datepicker -->
    <script type='text/javascript' src='../js/bootstrap-datepicker.js'></script>

    <!-- custom calls -->
    <script type='text/javascript' src='../js/script.js'></script>
    
    <!-- owl carousel -->
    <script type='text/javascript' src='../js/owl.carousel.min.js'></script>

    <!-- parallax -->
    <script type='text/javascript' src='../js/parallax.js'></script>
    
    <!-- scrollreveal -->    
    <script type='text/javascript' src='../js/scrollreveal.js'></script>
    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i|Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- CSS's -->
    <link href='../css/normalize.css' rel='stylesheet' type='text/css'>
    <link href='../css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap-theme-1.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap-select.css' rel='stylesheet' type='text/css'>
    <link href='../css/datepicker.css' rel='stylesheet' type='text/css'>
    <link href='../css/owl.carousel.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/owl.theme.default.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/custom.css' rel='stylesheet' type='text/css'>

</head>
<body class="page">

    <header>
        
        <div class="first">

            <div class="container">
                <nav class="navbar navbar-default">

                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Assine nossa newsletter</a></li>                
                            <li><a href="#">Quem Somos</a></li>                
                            <li><a href="#">Anuncie com a gente</a></li>                
                        </ul>
                      
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Registre-se</a></li>
                        </ul>
                    </div>

                </nav>
            </div>

        </div>
        
        <div class="second">

            <div class="container">
                <img class="logo" src="../img/logo.png">
            </div>

            <nav class="navbar yamm navbar-default">

                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li class="dropdown yamm-fw">
                          <a href="#" class="ga dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <ul class="set-1">
                                                <li><a href="#">PC</a></li>
                                                <li><a href="#" class="active">Playstation</a></li>
                                                <li><a href="#">Xbox</a></li>
                                                <li><a href="#">Nintendo</a></li>
                                                <li><a href="#">Mobile</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2">
                                            <ul class="set-2">
                                                <li>
                                                    <a href="#" class="active">
                                                        A Rockstar Games mostrou hoje um pouco mais de informações 
                                                        sobre Red Dead Redemption 2.
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        A Rockstar Games mostrou hoje um pouco mais de informações 
                                                        sobre Red Dead Redemption 2.
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        A Rockstar Games mostrou hoje um pouco mais de informações 
                                                        sobre Red Dead Redemption 2.
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8">
                                            <img class="drop-img" src="../img/example/content-1.jpg">
                                            <div class="box color category-1">
                                                <p class="cat-name">Games</p>
                                                <p class="post-date">23/11/2017</p>
                                                <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                          </ul>
                        </li> 

                        <li><a class="ga" href="#">Reviews</a></li>
                        <li><a class="ga" href="#">Artigos</a></li>
                        <li><a class="ga" href="#">Cinema</a></li>
                        <li><a class="ga" href="#">Tv/Séries</a></li>
                        <li><a class="ga" href="#">E-sport</a></li>
                        <li><a class="ga" href="#">Literatura</a></li>
                    </ul>                  
                    
                </div>

            </nav>

        </div>        

    </header>

    <section>
            
        <div class="container">

            <div id="perfil-title" class="row">
                
                <div class="col-md-12">
                    <img src="../img/example/avatar.jpg" alt="Avatar" class="avatar img-circle">
                    <p>Olá, <span class="name">Joseph Silvanos</span><a href="/#tab4" aria-controls="tab4" role="tab" data-toggle="tab"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
                </div>

            </div>
            
            <div id="perfil" class="row">

                <div class="col-md-3">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"><i class="fa fa-heart" aria-hidden="true"></i> Notícias Favoritas</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Preferências de Conteúdo</a></li>
                        <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Conteúdo de Newsletter</a></li>
                    </ul>

                </div>

                <div class="col-md-9 le-tab">

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div role="tabpanel" class="mg tab-pane fade in active" id="tab1">
                            
                            <h1>Notícias Favoritas</h1>

                            <div class="row">

                                <div class="col-md-4">

                                    <div class="box panel category-2">
                                        <img src="../img/example/content-1.jpg">
                                        <hr>
                                        <p class="cat-name">Games</p>
                                        <p class="post-date">23/11/2017</p>
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                        <p class="read-more">Leia Mais >>>></p>
                                    </div>

                                </div>

                                <div class="col-md-4">

                                    <div class="box panel category-3">
                                        <img src="../img/example/content-1.jpg">
                                        <hr>
                                        <p class="cat-name">Games</p>
                                        <p class="post-date">23/11/2017</p>
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                        <p class="read-more">Leia Mais >>>></p>
                                    </div>

                                </div>

                                <div class="col-md-4">

                                    <div class="box panel category-3">
                                        <img src="../img/example/content-1.jpg">
                                        <hr>
                                        <p class="cat-name">Games</p>
                                        <p class="post-date">23/11/2017</p>
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                        <p class="read-more">Leia Mais >>>></p>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="tab2">

                            <h1>Preferências de Conteúdo</h1>
                            <h3>Quero receber conteúdos de:</h3>
                            <form action="#">
                                <p>
                                    <input type="radio" id="test1" name="radio-group" checked>
                                    <label for="test1">Cinema</label>
                                </p>
                                <p>
                                    <input type="radio" id="test2" name="radio-group">
                                    <label for="test2">Games</label>
                                </p>
                                <p>
                                    <input type="radio" id="test3" name="radio-group">
                                    <label for="test3">Tv/Series</label>
                                </p>
                                <p>
                                    <input type="radio" id="test4" name="radio-group" checked>
                                    <label for="test4">Artigos</label>
                                </p>
                                <p>
                                    <input type="radio" id="test5" name="radio-group">
                                    <label for="test5">Reviews</label>
                                </p>
                                <p>
                                    <input type="radio" id="test6" name="radio-group">
                                    <label for="test6">E-Sports</label>
                                </p>
                                <p>
                                    <input type="radio" id="test7" name="radio-group" checked>
                                    <label for="test7">Literatura</label>
                                </p>
                            </form>

                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="tab3">
                            
                            <h1>Conteúdo de Newsletter</h1>

                            <div class="row">

                                <div class="col-md-4">

                                    <div class="box panel category-2">
                                        <img src="../img/example/content-1.jpg">
                                        <hr>
                                        <p class="cat-name">Games</p>
                                        <p class="post-date">23/11/2017</p>
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                        <p class="read-more">Leia Mais >>>></p>
                                    </div>

                                </div>

                                <div class="col-md-4">

                                    <div class="box panel category-3">
                                        <img src="../img/example/content-1.jpg">
                                        <hr>
                                        <p class="cat-name">Games</p>
                                        <p class="post-date">23/11/2017</p>
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                        <p class="read-more">Leia Mais >>>></p>
                                    </div>

                                </div>

                                <div class="col-md-4">

                                    <div class="box panel category-3">
                                        <img src="../img/example/content-1.jpg">
                                        <hr>
                                        <p class="cat-name">Games</p>
                                        <p class="post-date">23/11/2017</p>
                                        <h2><a href="#" target="_blank">Red Dead Redemption 2: Confira novo trailer do game</a></h2>
                                        <p class="content">
                                            A Rockstar Games mostrou hoje um pouco mais de informações 
                                            sobre Red Dead Redemption 2. Um novo trailer do título, 
                                            que é de mundo aberto foi lançado, o qual começa mostrando a 
                                            história do game, combates…
                                        </p>
                                        <p class="read-more">Leia Mais >>>></p>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div role="tabpanel" class="mg forms tab-pane fade" id="tab4">
                            
                            <h1>Alterar Dados</h1>

                            <div class="row">

                                <div class="col-md-3">
                                    <img src="../img/example/avatar.jpg" alt="Avatar" class="c-avatar img-circle">
                                    <a class="c-avatar-p"><i class="fa fa-camera" aria-hidden="true"></i></br>Alterar Imagem</a>
                                </div>

                                <div class="col-md-9">

                                    <div class="form-group">
                                        <label class="control-label" for="name">Nome</label>
                                        <input class="form-control" id="name" type="text" value="">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="email">Email</label>
                                        <input class="form-control" id="email" type="text" value="">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="password">Senha</label>
                                        <input class="form-control" id="password" type="password" value="">
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="r-password">Confirmar Senha</label>
                                        <input class="form-control" id="r-password" type="password" value="">
                                    </div>                                               

                                    <button type="button" class="btn btn-primary">Salvar</button>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <footer>

        <div class="container container-footer">

            <img class="logo" src="../img/logo.png">

        </div>

        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-2">
                    <ul>
                        <li><a href="">Pc</a></li>
                        <li><a href="">Xbox</a></li>
                        <li><a href="">Playstation</a></li>
                        <li><a href="">Switch</a></li>
                        <li><a href="">Wii</a></li>
                        <li><a href="">3ds</a></li>
                        <li><a href="">Vita</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li><a href="">Reviews</a></li>                    
                        <li><a href="">Artigos</a></li>                    
                        <li><a href="">Cinema</a></li>                    
                        <li><a href="">Tv/Séries</a></li>                    
                        <li><a href="">E-Sports</a></li>                    
                        <li><a href="">Literatura</a></li>                    
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li><a href="">Quem Somos</a></li>                    
                        <li><a href="">Contato</a></li>                    
                        <li><a href="">Anuncie com a gente</a></li>                    
                        <li><a href="">Sugestão de Pauta</a></li>                    
                    </ul>
                </div>
                <div class="col-md-5 social">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>

            </div>

        </div>

    </footer>

</body>
</html>