<!DOCTYPE html>
<html>
<head>

    <title>Styleguide</title>
    <meta name="description" content="Cap Online GUI Guide">
    <meta name="author" content="@Piulres">
    <meta charset="UTF-8">

    <!-- Scripts -->

    <!-- jquery -->
    <script type='text/javascript' src='../js/jquery.js'></script>

    <!-- boostrap -->
    <script type='text/javascript' src='../js/bootstrap.min.js'></script>

    <!-- w3data - script to import html files // notrequired -->
    <script type='text/javascript' src='../js/w3data.js'></script>
    
    <!-- datepicker -->
    <script type='text/javascript' src='../js/bootstrap-datepicker.js'></script>

    <!-- custom calls -->
    <script type='text/javascript' src='../js/script.js'></script>

    <!-- CSS's -->
    <link href='../css/normalize.css' rel='stylesheet' type='text/css'>
    <link href='../css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap-theme-1.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/datepicker.css' rel='stylesheet' type='text/css'>
    <link href='../css/custom.css' rel='stylesheet' type='text/css'>

</head>
<body>

    <header>
    
        <div class="navbar navbar-default">

            <div class="container">

                <div class="navbar-header">
                    
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#"><img class="logo" src="../img/logo.jpg"></a>
                
                </div>

                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    
                    <div class="nav-search nav navbar-nav">
                        <input type="text" class="form-control search-bar" placeholder="Buscar">
                    </div>

                    <ul class="nav-user nav navbar-nav">

                        <div class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <b class="caret"></b>
                                <img class="avatar" src="../img/ico-user.png">
                                <p class="user-name">José da Silva Gonçalves</p>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>

                        </div>

                    </ul>
                    
                </div>

            </div>

        </div>

    </header>

    <section>
        
        <div class="menu-bar">

            <div class="container">

                <div class="navbar navbar-default"> 

                    <div class="navbar-collapse collapse navbar-responsive-collapse">

                        <ul class="nav navbar-nav">

                            <li class="active"><a href="#">Início</a></li>
                            <li><a href="#">Cadastro</a></li>
                            <li><a href="#">Fale Conosco</a></li>
                            <li><a href="#">Documentos</a></li>
                            <li><a href="#">Proposta</a></li>
                            <li><a href="#">Solicitações</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Mais <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Dropdown header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section>

        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    
                    <h1 class="page-title">Solicitações - Exibidos Recentemente</h1>

                </div>

            </div>

            <div class="button-area">

                <div class="row">
                        
                    <div class="col-lg-6">

                        <select class="form-control pull-left">
                            <option selected>Exibidas recentemente</option>
                            <option>Solicitações canceladas </option>
                            <option>Solicitações concluídas</option>
                            <option>Solicitações enviadas </option>
                            <option>Solicitações em andamento </option>
                            <option>Solicitações com pendências</option>
                        </select>

                    </div>
                    
                    <div class="col-lg-6">

                        <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#previewModal">Nova Solicitação</button>

                        <!-- modal -->
                        <div id="previewModal" class="modal" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Tipo de solicitação</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-lg-12">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio">Alteração de Carta
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio">Aproveitamento de Crédito
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio">Bloqueio de Reaplicação
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio">Liberação do Caução
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio">Mudança de Imobiliaria 
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio">Reaplicação de Título
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio">Resgate
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio">Revisão de Comissão
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio">Transferência de Comissão
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio">Transferência de Títularidade
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default pull-right">Criar</button>
                                        <button type="button" class="btn btn-link pull-right">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>

            </div>   

        </div>
        
    </section>

    <section>

        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <p class="item-num"><span class="count">5</span> itens</p>    
                </div>

                <div class="col-lg-12">
        
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Solicitação</th>
                                <th>Nome / Razão Social</th>
                                <th>Assunto</th>
                                <th>Status</th>
                                <th>Proposta</th>
                                <th>Origem</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>00868954</td>
                                <td>Geraldo Silva</td>
                                <td>Liberação da Caução</td>
                                <td>Aprovado</td>
                                <td>8888.13.300027.80-1</td>
                                <td>CAPOnline</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>00868954</td>
                                <td>Maria Santos</td>
                                <td>Liberação da Caução</td>
                                <td>Aprovado</td>
                                <td>8888.13.300027.80-1</td>
                                <td>CAPOnline</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>00868954</td>
                                <td>Geraldo Silva</td>
                                <td>Resgate</td>
                                <td>Aprovado</td>
                                <td>8888.13.300027.80-1</td>
                                <td>CAPOnline</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>00868954</td>
                                <td>Maria Santos</td>
                                <td>Liberação da Caução</td>
                                <td>Aprovado</td>
                                <td>8888.13.300027.80-1</td>
                                <td>CAPOnline</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>00868954</td>
                                <td>Geraldo Silva</td>
                                <td>Liberação da Caução</td>
                                <td>Aprovado</td>
                                <td>8888.13.300027.80-1</td>
                                <td>CAPOnline</td>
                            </tr>
                        </tbody>

                    </table>

                </div>

                <div class="n-page col-md-offset-3 col-md-6">
                    
                    <div class="col-md-5">
                        <button type="button" class="btn btn-default pull-right">Anterior</button>
                    </div>
                   
                    <div class="col-md-2">
                        <!-- <input type="text" class="pull-left form-control" placeholder="1"> -->
                        <p class="text-center"><b>1</b> de <b>10</b></p>
                    </div>                   

                    <div class="col-md-5">
                        <button type="button" class="btn btn-default">Próximo</button>
                    </div>

                </div>

            </div>

        </div>  

    </section>

    <footer>
            
        <p>Copyright © Sulámerica - Todos os direitos reservados | versão 6.15.0412</p>

    </footer>

</body>
</html>