<!DOCTYPE html>
<html>
<head>

    <title>Styleguide</title>
    <meta name="description" content="Cap Online GUI Guide">
    <meta name="author" content="@Piulres">
    <meta charset="UTF-8">

    <!-- Scripts -->

    <!-- jquery -->
    <script type='text/javascript' src='../js/jquery.js'></script>

    <!-- boostrap -->
    <script type='text/javascript' src='../js/bootstrap.min.js'></script>

    <!-- w3data - script to import html files // notrequired -->
    <script type='text/javascript' src='../js/w3data.js'></script>
    
    <!-- datepicker -->
    <script type='text/javascript' src='../js/bootstrap-datepicker.js'></script>

    <!-- custom calls -->
    <script type='text/javascript' src='../js/script.js'></script>

    <!-- CSS's -->
    <link href='../css/normalize.css' rel='stylesheet' type='text/css'>
    <link href='../css/font-awesome.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/bootstrap-theme-1.min.css' rel='stylesheet' type='text/css'>
    <link href='../css/datepicker.css' rel='stylesheet' type='text/css'>
    <link href='../css/custom.css' rel='stylesheet' type='text/css'>

</head>
<body>

    <header>
    
        <div class="navbar navbar-default">

            <div class="container">

                <div class="navbar-header">
                    
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#"><img class="logo" src="../img/logo.jpg"></a>
                
                </div>

                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    
                    <div class="nav-search nav navbar-nav">
                        <input type="text" class="form-control search-bar" placeholder="Buscar">
                    </div>

                    <ul class="nav-user nav navbar-nav">

                        <div class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <b class="caret"></b>
                                <img class="avatar" src="../img/ico-user.png">
                                <p class="user-name">José da Silva Gonçalves</p>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>

                        </div>

                    </ul>
                    
                </div>

            </div>

        </div>

    </header>

    <section>
        
        <div class="menu-bar">

            <div class="container">

                <div class="navbar navbar-default"> 

                    <div class="navbar-collapse collapse navbar-responsive-collapse">

                        <ul class="nav navbar-nav">

                            <li class="active"><a href="#">Início</a></li>
                            <li><a href="#">Cadastro</a></li>
                            <li><a href="#">Fale Conosco</a></li>
                            <li><a href="#">Documentos</a></li>
                            <li><a href="#">Proposta</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Mais <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Dropdown header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section>

        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    
                    <h1 class="page-title">Comissões Pagas</h1>

                </div>

            </div>

            <div class="button-area">

                <div class="row">
                        
                    <div class="col-lg-6">

                       <button type="button" class="btn btn-outlined pull-left filter"><i class="fa fa-filter" aria-hidden="true"></i>Filtros</button>   

                    </div>
                    
                    <div class="col-lg-6">

                        <button type="button" class="btn btn-default pull-right">Gerar Relatório</button>                        
                        
                    </div>

                </div>

            </div>   

        </div>

        <div class="filter-form display container">

            <div class="shield">
                    
                <fieldset class="shield-content">

                    <div class="row">

                        <div class="col-lg-3">
                            <label class="control-label">Data de Pagamento (DE)</label>
                            <div class="custom-datepicker">
                                <input type="text" class="form-control input-datepicker" data-date-format="mm/dd/yy">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <label class="control-label">Data de Pagamento (ATÉ)</label>
                            <div class="custom-datepicker">
                                <input type="text" class="form-control input-datepicker" data-date-format="mm/dd/yy">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <label class="control-label">Data de Emissão (DE)</label>
                            <div class="custom-datepicker">
                                <input type="text" class="form-control input-datepicker" data-date-format="mm/dd/yy">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <label class="control-label">Data de Emissão (ATÉ)</label>
                            <div class="custom-datepicker">
                                <input type="text" class="form-control input-datepicker" data-date-format="mm/dd/yy">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>                   

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-3">
                            <label class="control-label">Estrutura de Venda</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="col-lg-3">
                            <label class="control-label">Número da Proposta</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="col-lg-6">
                            <label class="control-label">Produto</label>
                            <select class="form-control pull-left">
                                <option disabled selected>Selecione</option>
                                <option>Prod #1</option>
                                <option>Prod #2</option>
                                <option>Prod #3</option>
                            </select>    
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-3">
                            <label class="control-label">Valor do Título</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="col-lg-3">
                            <label class="control-label">Percentual de Comissão</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="col-lg-6">
                            <label class="control-label">Título</label>
                            <input type="text" class="form-control">
                        </div>

                    </div>

                    <div class="row">
                        
                        <button type="button" class="aplyfilter btn btn-default pull-right">Aplicar</button>   

                    </div>                               

                </fieldset>

            </div>


        </div>

        <div class="active-filters display container">
            
            <div class="box-filter">EV - 123456789<i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="box-filter">Produto - 12635749<i class="fa fa-times" aria-hidden="true"></i></div>

        </div>
        
    </section>

    <section>

        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <p class="item-num"><span class="count">4</span> itens</p>    
                </div>

                <div class="col-lg-12">
        
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cód.Comissão</th>
                                <th>Data de Emissão</th>
                                <th>Valor da Comissão</th>
                                <th>Data de Pagamento</th>
                                <th>Título</th>
                                <th>Valor da Mensalidade</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="">CP-000108</a></td>
                                <td>18/07/2016</td>
                                <td>R$ 450,00</td>
                                <td>20/07/2016</td>
                                <td>Loren Ipsum</td>
                                <td>R$ 15.000,00</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="">CP-000108</a></td>
                                <td>18/07/2016</td>
                                <td>R$ 450,00</td>
                                <td>20/07/2016</td>
                                <td>Loren Ipsum</td>
                                <td>R$ 15.000,00</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="">CP-000108</a></td>
                                <td>18/07/2016</td>
                                <td>R$ 450,00</td>
                                <td>20/07/2016</td>
                                <td>Loren Ipsum</td>
                                <td>R$ 15.000,00</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="">CP-000108</a></td>
                                <td>18/07/2016</td>
                                <td>R$ 450,00</td>
                                <td>20/07/2016</td>
                                <td>Loren Ipsum</td>
                                <td>R$ 15.000,00</td>
                            </tr>
                        </tbody>

                    </table>

                </div>

                <div class="n-page col-md-offset-3 col-md-6">
                    
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default">Anterior</button>
                    </div>
                   
                    <div class="col-md-4">
                        <input type="text" class="pull-left form-control" placeholder="1">
                        <p class="pull-left">de</p>
                        <p class="pull-left"><b>10</b></p>
                    </div>                   

                    <div class="col-md-4">
                        <button type="button" class="btn btn-default">Próximo</button>
                    </div>

                </div>

            </div>

        </div>  

    </section>

    <footer>
            
        <p>Copyright © Sulámerica - Todos os direitos reservados | versão 6.15.0412</p>

    </footer>

</body>
</html>